In [1]:
#print 0 to 20 by using range

In [2]:
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for num in range (10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [6]:
#print number of items in the list by using 'len'

In [19]:
list2=[10,20,14,55,43,87,19]
number_of_items=len(list2)
print("the number of items in list2:",number_of_items)

the number of items in list2: 7

In [18]:
print("Artificial Intelligence")
#printing vertically using loop
text="Artificial Intelligence"
for temp in text:
    print(temp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [19]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

# print this mixed datatype using tuples

In [24]:
my_tuple=(1, 'Welcome', 2, 'Hope')
print(my_tuple)

(1, 'Welcome', 2, 'Hope')

In [25]:
tuple1=(0, 1, 2, 3)
tuple2=('python', 'hope')
my_tuple=(tuple1,tuple2)
print(my_tuple)

((0, 1, 2, 3), ('python', 'hope'))

In [26]:
#print odd numbers in the list

In [44]:

numbers=(20,10,16,19,25,1,276,188)
for num in numbers:
     if num % 2 !=0:
          print(f" {num} is odd")

 19 is odd
 25 is odd
 1 is odd

In [50]:
numbers=(20,10,16,19,25,1,276,188)
for num in numbers:
     if num % 2 ==0:
          print(f" {num} is even")

 20 is even
 10 is even
 16 is even
 276 is even
 188 is even